/************************************************************/
/***************** TABLE OF CONTENT *************************/
/* 1.MAIN SETUP ******************/
/* 2.ADDED CLASSES WITH JS ******************/
/* 3.NAVIGATION *****************************/
/* 4.ANIMATION ******************************/
/* 4.1.Landing Page **/
/* 4.2.Clouds ********/
/* 4.3.Airplanes *****/
/* 5.MAIN ***********************************/
/* 6.FRAMES-STEPS ****************************/
/* 6.1.First Frame ***/
/* 6.2.Second Frame **/
/* 6.3.Third Frame ***/
/* 6.4.Fourth Frame **/
/* 7.BOTTOM SECTION-LUGGAGE-VACATION ************************/
/* 7.1.Luggage *******/
/* 7.2.Vacation ******/
/************************************************************/


/* 1.MAIN SETUP */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);
  height: auto;
  margin: auto;
  position: relative;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

main {
  position: relative;
  top: 0rem;
} 

/* 2.ADDED CLASSES WITH JS */

.hide-frame{
  display: none !important;
}

.transition-down {
  transform: translateY(30rem);
}

.transition-up {
  transform: translateY(0);
}

.overflowY {
  overflow-y: hidden;
}

/* 3.NAVIGATION */
header {
  width: 100vw;
  height: 3.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 50;
}

header .fa-circle-notch {
  font-size: 2.6rem;
  position: relative;
  left: 4rem;
  color: #173847;
}

header .fa-plane {
  font-size: 1.2rem;
  position: relative;
  bottom: .55rem;
  left: 1.9rem;
  color: #173847;

}

.logo {
  display: inline;
  position: relative;
  top: 7px;
  cursor: pointer;
}

header h1{
  display: inline;
  position: relative;
  left: 3rem;
}

header h1 a{
  font-size: 1.3rem;
  letter-spacing: -.07rem;
  color: #173847;
  text-decoration: none;
}

.left-nav {
  width: 100%;
  height: 100%;
  flex: 1 0 40%;
}

.right-nav {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

nav {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li{
  display: inline-block;
  padding-left: 4rem;
}

nav a {
  text-decoration: none;
  color: #173847;
  font-weight: 600;
  transition: color .4s ease;
}

nav li:hover a {
  color: #4cb0df;
}

nav li:active a {
  color: #337696;
}

/* 4.ANIMATION */
/* 4.1.Landing Page */
#animation {
  max-width: 80rem;
  min-height: 50vh;
  margin: auto;
}

#login_animation {
  display: flex;
  width: 100vw;
  height: 60vh;
  margin: auto;
  position: absolute;
  z-index: 10;
  animation: hide-lit forwards 1s alternate 8s;
}

.login_left {
  width: 50vw;
  height: 100vh;
  background: #111;
  position: relative;
  animation: lit-left forwards 5s alternate 3s;
}

.login_left::after {
  content: '';
  border: 4px solid #fff;
  height: 100vh;
  position: absolute;
  right: 0;
}

.login_right {
  width: 50vw;
  height: 100vh;
  background: #245870;
  position: relative;
  animation: lit-right 5s forwards alternate 3s;
}

.login_right::after {
  content: '';
  border: 4px solid #fff;
  height: 100vh;
  position: absolute;
  left: 0;
}

.login_circle {
  width: 10rem;
  height: 10rem;
  background: #245870;
  border-radius: 50%;
  position: absolute;
  top: 40vh;
  left: -5rem;
  z-index: 1;
  transition: transform 2s ease;
  animation: lit-center 3s alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .8rem solid #fff;
}

i {
  font-size: 3.5rem;
  color: #fff;
  z-index: 9;
}

@keyframes lit-left {
  0% {
    right: 0;
  }
  100% {
    right: 110vw;
  }
}

@keyframes lit-right {
  0% {
    left: 0;
  }
  100% {
    left: 110vw;
  }
}

@keyframes lit-center {
  0% {
    transform-origin: center center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

@keyframes hide-lit {
  0% {
    visibility: unset;
  }
  100% {
    visibility: hidden;
  }
}

/* 4.2.Clouds */
.stage {
  max-width: 100%;
  min-height: 60vh;
  height: auto;
  background: transparent;
  margin: auto;
  position: relative;
}

.move-cloud {
  width: 100%;
  min-height: 40vh;
  position: relative;
  display: flex;
  z-index: 1;
}

.cloud-move {
  position: absolute;
  height: 100%;
  width: 100%;
}

.play-cloud {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 5rem;
}

.cloud-1 {
  top: 4rem;
  transform: scale(2.5);
}

.cloud-2 {
  top: 15rem;
  transform: scale(0.8);
  opacity: .7;
}

.cloud-3 {
  top: 5rem;
  transform: scale(1.3);
  opacity: .9;
}

.cloud-4 {
  top: 20rem;
  transform: scale(0.3);
  opacity: .3;
}

.cloud-5 {
  top: 2rem;
  transform: scale(0.8);
  opacity: .7;
}

.cloud-6 {
  top: 10rem;
  transform: scale(1.8);
}

.cloud-7 {
  top: 5rem;
  transform: scale(.5);
  opacity: .3;
}

.cloud-move {
  position: relative;
}

.cloud {
  max-width: 12rem;
  min-height: 6rem;
  background-color: transparent;
  position: relative;
  right: -20%;
  animation: moveCloud 15s infinite alternate;
}

.cloud-circle {
  width: 3rem;
  height: 3rem;
  background: rgb(241, 241, 241);
  border-radius: 50%;
  position: absolute;
  animation: cloudX 3s infinite alternate;
}

.cloud :first-child {
  left: 67%;
  top: 20%;
  animation: cloudY 3s infinite alternate;
}

.cloud :nth-child(2) {
  left: 55%;
  top: 10%;
  animation: cloudY 3s infinite alternate;
}

.cloud :nth-child(3) {
  left: 40%;
  top: 5%;
}

.cloud :nth-child(4) {
  left: 25%;
  top: 10%;
  animation: cloudY 3s infinite alternate;
}

.cloud :nth-child(5) {
  left: 15%;
  top: 20%;
}

.cloud :nth-child(6) {
  left: 25%;
  top: 25%;
  animation: cloudY 3s infinite alternate;
}

.cloud :nth-child(7) {
  left: 40%;
  top: 30%;
}

.cloud :last-child {
  left: 55%;
  top: 30%;
}

@keyframes cloudX {
  0% {
    transform: translate(-10%, -10%);
  }
  100% {
    transform: translate(10%, -10%);
  }
}

@keyframes cloudY {
  0% {
    transform: translate(-5%, 5%);
  }
  100% {
    transform: translate(5%, -5%);
  }
}

@keyframes moveCloud {
  0% {
    transform: translate(55%);
  }
  100% {
    transform: translate(-90%);
  }
}


/* 4.3.Airplanes */
@keyframes plane {
  0% {
    transform: translate(2vw) scale(3) rotate(-2deg);
  }
  100% {
    transform: translate(180vw, -100px) scale(3) rotate(-2deg);
  }
}

@keyframes plane2 {
  0% {
    transform: translate(2vw, 20px) scale(.7) rotate(-20deg);
  }
  100% {
    transform: translate(140vw, -37.5rem) scale(.7) rotate(-20deg);
  }
}

@keyframes plane3 {
  0% {
    transform: translate(-2vw, -50vh) scale(1.1) rotate(-2deg) scaleX(-1);
  }
  100% {
    transform: translate(-140vw, -35vh) scale(1.1) rotate(-2deg) scaleX(-1);
  }
}

.plane-box {
  position: absolute;
  top: 20rem;
  left: -40vh;
  width: 20rem;
  height: 8rem;
  z-index: 6;
  animation: plane 20s infinite forwards 4s ease;
}

.plane-box2 {
  position: absolute;
  top: 40rem;
  left: -40vh;
  width: 20rem;
  height: 8rem;
  z-index: 5;
  animation: plane2 60s infinite forwards 12s ease;
  opacity: .8;
}

.plane-box3 {
  position: absolute;
  top: 40rem;
  right: -40vh;
  width: 20rem;
  height: 8rem;
  z-index: 4;
  animation: plane3 45s infinite forwards 5s ease;
  opacity: .9;
}

.planes {
  overflow: hidden;
}

.plane {
  width: 10rem;
  height: 10rem;
  box-sizing: content-box;
  position: relative;
  transform: scale(.5);
}

.plane-body {
  width: 20rem;
  height: 3rem;
  background: rgb(218, 216, 216);
  background: linear-gradient(180deg, rgba(218, 216, 216, 1) 1%, rgba(241, 241, 241, 1) 43%, rgba(180, 178, 178, 1) 95%);
  border-radius: 20% 70% 30% 80%;
  position: absolute;
  z-index: 2;
}

.plane-back {
  border-bottom: 3rem solid rgba(218, 216, 216, 1);
  border-left: 0px solid transparent;
  border-right: 2.5rem solid transparent;
  height: 0;
  width: 3rem;
  position: absolute;
  position: absolute;
  top: -2.5rem;
  left: .4rem;
  z-index: 3;
}

.plane-wing {
  border-bottom: 2.5rem solid rgba(218, 216, 216, 1);
  border-left: 0 solid transparent;
  border-right: 3.5rem solid transparent;
  border-top: 2rem solid transparent;
  height: 0;
  width: 4rem;
  position: absolute;
  transform: skewX(50deg);
  top: -4rem;
  left: 4rem;
  z-index: 4;
}

.plane-window {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 8rem;
  top: .8rem;
  z-index: 5;
}

.plane-window2 {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 9rem;
  top: .8rem;
  z-index: 5;
  position: absolute;
}

.plane-window3 {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 10rem;
  top: .8rem;
  z-index: 5;
  position: absolute;
}

.plane-window4 {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 11rem;
  top: .8rem;
  z-index: 5;
  position: absolute;
}

.plane-window5 {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 12rem;
  top: .8rem;
  z-index: 5;
  position: absolute;
}

.plane-window6 {
  height: 10px;
  width: 6px;
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  border-radius: 2px;
  position: relative;
  left: 13rem;
  top: .8rem;
  z-index: 5;
  position: absolute;
}

.plane-front-window {
  background: rgb(68, 122, 236);
  background: linear-gradient(180deg, rgba(68, 122, 236, 1) 43%, rgba(33, 58, 108, 1) 80%, rgba(6, 7, 8, 1) 100%);
  height: .5rem;
  width: 1.2rem;
  border-radius: 46% 54% 100% 0% / 0% 100% 0% 100%;
  position: absolute;
  top: 1.1rem;
  right: -8.9rem;
  transform: rotate(3deg);
  z-index: 4;
}

/* 5.MAIN */
#main {
  width: 100vw;
  min-height: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 6.FRAMES-STEPS */
.frame1,
.frame2,
.frame3,
.frame4 {
  width: 100vw;
  height: 30rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
}

.frame1 {
  background-color: White;
  z-index: 5;
}

.frame-first,
.frame-second,
.frame-third,
.frame-fourth {
  max-width: 58rem;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

/* 6.1.First Frame */
.frame-first,
.frame-second,
.frame-third,
.frame-fourth {
  display: block;
  margin: auto;
  padding: 5rem 0;
  color: black;
}

.frame-first {
  background-color: #fff;
}

.first-form {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.globe {
  position: absolute;
  width: 100%;
  height: 5%;
  left: 50%;
}

.fa-globe {
  color: #245870;
  display: block;
  font-size: 4rem;
  left: 50%;
  margin: 2rem auto;
  padding: 0;
  transform: translate(-50%);
}

form {
  min-width: 25rem;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: .2rem solid #245870;
  border-radius: 2rem;
  margin: 0 auto;
  position: relative;
}

.to,
.from {
  display: inline-block;
  flex: 1 0 50%;
  align-self: flex-end;
  margin: 3rem auto 0 auto;
  font-size: 1.5rem;
  color: #245870;
}

.date {
  width: 100%;
  height: auto;
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  color: #245870;
}

.input-date {
  padding: .5rem 1rem;
  background-color: white;
  border: 2px solid #555;
  border-radius: .5rem;
  cursor: pointer;
}

.fa-plane-arrival,
.fa-plane-departure,
.fa-calendar-days {
  color: #245870;
  font-size: 1.2rem;
  padding: 0 .7rem;
}

label {
  padding: 0 .7rem;
}

select {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  width: 70%;
  background-color: white;
  border: 2px solid #555;
  border-radius: .5rem;
  cursor: pointer;
}

.continue {
  display: block;
  flex: 1 0 100%;
  padding-bottom: 1rem;
}

.continue input {
  max-width: 15rem;
  padding: .9rem 2rem;
  margin-top: 2rem;
  background-color: #245870;
  border: 1px solid transparent;
  border-radius: .5rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: all .4s ease;
}

.continue input:hover {
  background-color: #fff;
  color: #245870;
  border: 1px solid #245870;
}

.continue input:active {
  transform: scale(.9);
}

/* 6.2.Second Frame */

.frame2 {
  background-color: rgba(255, 255, 255, .2);
  z-index: 4;
  transition: transform 2s ease;
}

.frame-second {
  display: block;
  width: 80%;
  height: 100%;
  margin: auto;
  display: block;
  background: transparent;
}

.worldmap {
  max-width: 50rem;
  height: 100%;
  margin: auto;
  position: relative;
}

.worldmap-img {
  width: 50rem;
  display: block;
  height: auto;
  margin: auto;
}

.worldmap i {
  font-size: 1.4rem;
  position: absolute;
  top: 30px;
  left: 30rem;
  color: rgb(253, 253, 253);
  animation: worldmap 6s infinite forwards normal;
}

.worldmap p {
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: -1.75rem;
  left: 18.5rem;
  color: #fff;
}

@keyframes worldmap {
  0% {
    top: 5rem;
    left: 10rem;
    transform: rotate(-10deg);
    font-size: .8rem;
  }
  30% {
    top: 3rem;
    left: 15rem;
    transform: rotate(0deg);
    font-size: 1.4rem;
  }
  100% {
    top: 4.5rem;
    left: 22.4rem;
    transform: rotate(15deg);
    font-size: .8rem;
  }
}

.point1,
.point2,
.point3 {
  width: .2rem;
  height: .2rem;
  background-color: #fff;
  opacity: .9;
  position: absolute;
  bottom: -1.5rem;
  border-radius: 50%;
}

.point1 {
  left: 27.5rem;
  animation: point1 1.3s infinite forwards ease alternate;
}

.point2 {
  left: 28.5rem;
  animation: point2 1.3s infinite forwards ease alternate .65s;
}

.point3 {
  left: 29.5rem;
  animation: point3 1.3s infinite forwards ease alternate .9s;
}

@keyframes point1 {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(0);
  }

}

@keyframes point2 {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes point3 {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(0);
  }
}

/* 6.3.Third Frame */

.frame3 {
  background-color: white;
  transition: transform 2s ease;
}

.frame3 h4 {
  font-weight: 600;
  color: #245870;
  text-align: center;
  padding: 0 0 2rem 0;
  z-index: 3;
}

.fa-magnifying-glass,
.search-plane {
  color: #245870;
  display: inline-block;
  width: 49%;
  margin: auto;
  padding: 0 0 2rem 0;
  position: relative;
}

.fa-magnifying-glass {
  text-align: end;
  left: 2.7rem;
  top: 0;
  z-index: 3;
  font-size: 6rem;
  animation: search 3s infinite normal ease;
}

.search-plane {
  text-align: start;
  right: 1.1rem;
  bottom: 2.2rem;
  font-size: 1.3rem;
  color: #555;
  z-index: 2;
}

@keyframes search {
  0% {
    left: 2.7rem;
  }
  25% {
    left: 3.3rem;
    top: .8rem;
  }
  50% {
    left: 4.1rem;
    top: 0rem;
  }
  75% {
    left: 3.3rem;
    top: -.6rem;
  }
  100% {
    left: 2.7rem;
    top: 0;
  }
}

table{
  border-spacing: 1rem 1rem;
}

th {
  text-align: start;
  padding: .4rem 1rem;
  border: 1px solid #245870;
  border-radius: 1rem;
  color: #245870;
  margin: 0 auto;
}

.first-th {
  text-align: center;
}

td {
  padding: 0 1rem;
  color: #444;
}

.choose {
  padding: .6rem 2rem;
  border-radius: .5rem;
  border: none;
  color: #444;
  font-weight: 600;
  font-size: .8rem;
  cursor: pointer;
  transition: all .4s ease;
  font-family: 'Montserrat', sans-serif;
}

.choose:hover {
  background-color: #245870;
  color: #fff;
}

.choose:active {
  background-color: #173847;
}

/* 6.4.Fourth Frame */
.frame-fourth {
  background-color: transparent;
  color: #fff;
  border: .15rem solid #fff;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 1rem;
}

.frame4 {
  background-color: #252033;
  padding: 0 1rem;
  z-index: 2;
  transition: transform 2s ease;
}

.frame-fourth h4 {
  padding: .4rem 0;
}

.frame-fourth p {
  padding: .05rem 0;
}

.confirmation {
  padding: 0 0 2rem 0;
}

.fa-arrow-pointer {
  font-size: 1.6rem;
  position: relative;
  left: 7rem;
  top: 2rem;
  color: #fff;
  z-index: 3;
  animation: mouse 4s forwards normal infinite;
}

.fa-circle-check {
  font-size: 5rem;
  color: rgb(165, 165, 165);
  animation: confirm 2s forwards alternate infinite 2s;
  position: relative;
  right: 1rem;
  z-index: 2;
}

@keyframes confirm {
  0% {
    color: rgb(165, 165, 165);
  }
  100% {
    color: #28a745;
  }
}

@keyframes mouse {
  0% {
    left: 7rem;
    top: 2rem;
  }
  30% {
    left: 7rem;
    top: 2rem;
  }
  40% {
    transform: scale(1);
  }
  50% {
    left: 3.5rem;
    top: .2rem;
    transform: scale(.8);
  }
  55% {
    transform: scale(1);
  }
  100% {
    left: 7rem;
    top: 2rem;
  }
}

.startover {
  padding: .6rem 4rem;
  border-radius: .5rem;
  border: none;
  background-color: #28a745;
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
  cursor: pointer;
  transition: all .4s ease;
  margin: 1rem auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.startover:hover {
  background-color: #33d859;
  color: #fff;
}

.startover:active {
  background-color: #18642a;
  color: #fff;
}

/* 7.BOTTOM SECTION-LUGGAGE-VACATION */

.last-section {
  width: 100vw;
  min-height: 30rem;
  margin: 0 auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgb(2, 136, 163) 100%);
  transition: transform 2s ease;
}

.last-flex {
  width: 80%;
  height: 30rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.left-side, .right-side {
  min-width: 28rem;
  min-height: 17.5rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: all .4s ease;
}

/* 7.1.Luggage */

.left-side {
  background-color: #111;
  overflow: hidden;
}
.title {
  width: 100%;
  position: absolute;
  top: 2rem;
  text-align: center;
}
.title h2 {
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
}

.title p{
  color: #fff;
  padding-top: .2rem;
  font-size: .9rem;
}

.line{
  width: 150%;
  height: .3rem;
  background-color: #53c9ff;
  position: absolute;
  bottom: 4.5rem;
  right: 28rem;
}

.left-side:hover .line{
  animation: line 1s forwards normal;
}

@keyframes line {
  0%{
    right: 28rem;
  }
  100%{
    right: 0;
  }
}

.luggage {
  width: 100%;
  position: absolute;
  left: 1rem;
  top: 9rem;
}

.luggage i:first-child{
  color: #4cb0df;
  position: relative;
  left: 0;
}

.left-side:hover .luggage i:first-child{
  animation: luggage3 2.2s forwards normal 3.5s;
}

.luggage i:nth-child(2) {
  color: rgb(204, 133, 1);
  position: relative;
  left: -.2rem;
}

.left-side:hover .luggage i:nth-child(2) {
  animation: luggage2 2s forwards normal 2.2s;
}

.luggage i:last-child {
  color: rgb(13, 153, 13);
  position: relative;
  left: -.4rem;
}

.left-side:hover .luggage i:last-child {
  animation: luggage1 1.2s forwards normal 1s;
}

@keyframes luggage1 {
  0%{
    left: -.4rem;
  }
  10%{
    transform: rotate(-10deg);
  }
  80%{
    transform: rotate(15deg);
  }
  100%{
    left: 16.5rem;
  }
}

@keyframes luggage2 {
  0%{
    left: -.2rem;
  }
  10%{
    transform: rotate(-10deg);
  }
  40%{
    transform: rotate(15deg);
  }
  50%{
    left: 17.1rem;
  }
  60% {
    transform: rotate(-10deg);
  }
  75%{
    transform: rotate(0);
  }
  100%{
    left: 16.7rem;
  }
}

@keyframes luggage3 {
  0%{
    left: 0;
  }
  10%{
    transform: rotate(-10deg);
  }
  40%{
    transform: rotate(15deg);
  }
  50%{
    left: 17.3rem;
  }
  60% {
    transform: rotate(-10deg);
  }
  75%{
    transform: rotate(0);
  }
  100%{
    left: 16.9rem;
  }
}


/* 7.2.Vacation */
.right-side {
  overflow: hidden;
}

.vacation {
  width: 100%;
  height: 17.5rem; 
  position: relative;
}

.vacation-text {
  text-align: center;
}

.vacation-text h2 {
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  top: 2rem;
}

.vacation-text p {
  color: #fff;
  padding-top: .2rem;
  font-size: .9rem;
  position: relative;
  top: 2rem;
}

.beach svg {
  width: 100%;
  height: 17.5rem;
  position: absolute;
  bottom: -6rem;
}


.fa-umbrella-beach {
  font-size: 2.2rem;
  color: #2e4482;
  position: absolute;
  bottom: 1.2rem;
  left: 4rem;
}

.fa-crow{
  font-size: .7rem;
  position: absolute;
  color: #2e4482;
}

.beach i:nth-child(3) {
  bottom: .5rem;
  left: 15rem;
}

.beach i:nth-child(4) {
  bottom: .9rem;
  transform: scaleX(-1);
  left: 17rem;
}

.sun-animation {
  width: 100%;
  height: 17.5rem;
}

.sun {
  width: 2rem;
  height: 2rem;
  background-color: #f9d71c;
  border-radius: 50%;
  position: relative;
  top: 3.5rem;
  left: 12.5rem;
}

.right-side:hover .sun {
  animation: sun 6s forwards infinite;
}

@keyframes sun {
  0%{
    top: 3.5rem;
    left: 12.5rem;
  }
  20%{
    background-color: #f9d71c;
  }
  25%{
    top: 8rem;
    left: 29rem;
    background-color: #fff;
  }
  50%{
    top: 3.5rem;
    left: 12.5rem;
  }
  70%{
    background-color: #fff;
  }
  75%{
    top: 8rem;
    left: 29rem;
    background-color: #f9d71c;
  }
  100%{
    top: 3.5rem;
    left: 12.5rem;
  }
}

.sky {
  width: 100%;
  height: 17.5rem;
  background-color: skyblue;
  position: absolute;
}

.right-side:hover .sky{
  animation: sky 6s forwards infinite;
}

@keyframes sky {
  0%{
    background-color: skyblue;
  }
  50%{
    background-color: #2e4482;
  }
  100%{
    background-color: skyblue;
  }
}

.star {
  z-index: 100;
  position: absolute;
}
.fa-star {
  color: #fff;
  font-size: .4rem;
  position: absolute;
  padding-top: 2rem;
  opacity: 0;
}

.right-side:hover .fa-star {
  animation: star 6s forwards infinite, star-color .7s alternate-reverse infinite ;
}

.star i:first-child {
  left: 4rem;
}

.star i:nth-child(2) {
  left: 5rem;
  top: -5rem;
}

.star i:nth-child(3) {
  left: 9rem;
  top: 2rem;
}

.star i:nth-child(4) {
  left: 20rem;
  top: -1rem;
}

.star i:nth-child(5) {
left: 25rem;
top: 1.8rem;
}

.star i:last-child {
  left: 15rem;
  top: 4rem;
}

@keyframes star {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0.4;
  }
  32%{
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75%{
    opacity: .2;
  }
  76%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes star-color {
    0%{
      color: #aaa;
    }
    100%{
      color: #fff;
    }
}